body {
    margin: 0;
    padding: 0;
    background-color: #19376D;
    color: white;
}

h2 {
    color: #A5D7E8;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.navbar {
    margin-bottom: 2rem;
}

.carousel-item video {
    height: 400px;
    object-fit: cover;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .carousel-item video, .carousel-item img {
        height: 300px;
    }

    p {
        font-size: 1rem;
    }
}

.card {
    background-color: #27374D;
    color: white;
    border: solid;
}

.card-title {
    color: #9DB2BF;
    font-family: 'Roboto', sans-serif;
}

.card-text {
    font-size: 3rem;
}

.card-img-top {
    object-fit: cover;
    height: 400px;
    border-radius: 20px 20px 0px 0px;
}

@media (max-width: 768px) {
    .card-text {
        font-size: 0.9rem;
    }
}

h1{
    font-family: Roboto;
    font-size: 30px;
    color: white;
}