body{
    background-color: #0b2447;
    color: aliceblue;
    font-size: 30px;
}
.formularioContainer{
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    color: black;
    margin: 0 auto; /* Centrar el formulario */
    width: 600px; /* Ancho máximo del formulario */
    margin-top: 10vh;
}