/* Fondo degradado de la parte izquierda */
.gradient-custom-2 {
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    position: relative; /* Para controlar la posición */
}

/* Estilo del contenedor que se desplazará */
#infoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda la anchura */
    height: 100%; /* Abarca toda la altura */
    background: linear-gradient(to right, #ee7724, #d8363a); /* Aplica el mismo degradado */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 2; /* Asegura que se superponga al formulario de login */
}

/* Clase para deslizar el contenedor hacia la izquierda */
#infoContainer.slide-out {
    transform: translateX(-100%); /* Desplazamiento a la izquierda */
    opacity: 0; /* Se desvanece */
}

/* Estilo del formulario de registro */
#registerForm {
    position: absolute; /* Asegura que se superponga */
    top: 0;
    left: 0;
    width: 100%; /* Ocupa toda la anchura */
    height: 100%; /* Abarca toda la altura */
    z-index: 3; /* Se asegura que se mantenga visible tras el desplazamiento del infoContainer */
    display: none; /* Oculto inicialmente */
}

/* Ajustes adicionales para pantallas más grandes */
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }

    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
