/* Navbar*/
:root{
    --color-blue: #576CBC
   }
   
   .navbar{
       background-color: #0b2447;
   }
   
   .btn-button1{
       background-color: white;
       border-color: white;
       color: black;
       margin-left: 50px;
       border-radius: 10px;
       border-color: var(--color-blue);
       transition: box-shadow 0.2s ease-in-out;
       font-size: 20px;
   }
   .btn-button1:hover{
       box-shadow: 0 0 40px var(--color-blue) inset;
   }
   
   .btn-button2{
       background-color: #576CBC;
       border-color: #576CBC;
       color: white;
       margin-left: 10px;
       border-radius: 10px;
       font-size: 20px;
    
      }
   
   .nav-link{
       color: white;
       font-size: 24px;
   }
   .navbar-brand{
       color: white;
   }
   
   .body{
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   
   .navbar-toggler{
       border-color: black;
       background-color: #576CBC;
   }


/* Acerca de nosotros*/

#nosotros:hover {
    
    transform: scale(1.1);
    transition: 3s;
}
h1{
    color: #A5D7E8;
    font-family: roboto;
     font-size: 32px; 
}
h2{
    font-family: roboto;
     font-size: 32px; 
}
p{
    
    font-family: roboto;
     font-size: 24px; 
}

.col-sm{
    margin: 0px 20px 0px 20px;
    padding: 20 px 0px 20px 0px;
}


@media(max-width:576px){
    .container{
        text-align: center;
    }
}
.container{margin: 20px 10px 20px 10px;}


/*carrusel*/

.card-carousel {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.card-container {
    display: flex;
    transition: transform 0.5s ease;


}


.card {
    margin: 0 5px; /* Espacio entre tarjetas */
}

/* Estilo para el fondo degradado de cada tarjeta */
.card {
    background: linear-gradient(to bottom right, #5AE0E4, #245065);
    border-radius: 30px;
}

.card .icon {
    width: 24px;  /* Ajusta el ancho */
    height: 24px; /* Ajusta la altura */
    vertical-align:middle; /* Alinea el ícono con el texto */
    
}

/* Efecto al pasar el mouse */
.card .icon:hover {
    transform: scale(1.5); /* Aumenta el tamaño a 120% */
    filter: brightness(1.5); /* Aumenta el brillo del ícono */
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #576CBC;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-inner .card {
    max-width: 18rem;
    margin: 0 auto; /* Centrar las tarjetas */
}

.carousel-item {
    text-align: center; /* Alinear el contenido de cada slide al centro */
}