/* Navbar */
:root {
    --color-blue: #576CBC;
}

.navbar {
    background-color: #0B2447;
}

.btn-button1 {
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 8px;
    border-color: var(--color-blue);
    transition: box-shadow 0.2s ease-in-out;
    font-size: 20px;
}

.btn-button1:hover {
    box-shadow: 0 0 40px var(--color-blue) inset;
}

.btn-button2 {
    background-color: #576CBC;
    border-color: #576CBC;
    color: white;
    border-radius: 8px;
    font-size: 20px;
}

.nav-link {
    color: white;
    font-size: 24px;
    margin-right: 20px; /* Espacio entre los enlaces */
}

.navbar-brand {
    color: white;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
}

.navbar-toggler {
    border-color: black;
    background-color: #576CBC;
}

@media (max-width: 991px) {
    .navbar {
        display: flex;
        flex-direction: column; /* Cambiar a columna */
        align-items: center; /* Centrar elementos */
    }

    .navbar-collapse {
        width: 100%; /* Asegúrate de que el menú ocupe todo el ancho */
    }

    .d-flex {
        width: 100%; /* Asegúrate de que el contenedor de botones ocupe todo el ancho */
        justify-content: center; /* Centra los botones */
        margin-top: 10px; /* Espacio entre el menú y los botones */
    }

    .btn-button1,
    .btn-button2 {
        width: 150px; /* Ancho uniforme para los botones */
        margin: 0 10px; /* Espacio entre botones */
    }
}
