body{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    color: #283629;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #a5d7e8;
    border: 2px solid #f0faf1;
    color: #19376d;
    outline: none;
    overflow: hidden;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: #19376d;
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: #19376d;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #576cbc;
    box-shadow: 0 0 20px rgba(52, 218, 216, 0.4);
    cursor: pointer;
}

.btn:hover{
    background-color: #576cbc;
}

@media(max-width:991px){
    body{
        padding: 30px;
    }

    form{
        padding: 50px 30px;
        width: 100%;
    }
    
    input{
        padding: 30px;
    }
}