@media (max-width: 984px) {
    .card {
      width: 100%; /* Haz que las tarjetas ocupen todo el ancho disponible */
      margin-bottom: 20px; /* Añadir espacio entre las tarjetas */
    }
  
    .card-title {
      font-size: 24px; /* Ajustar el tamaño del título para pantallas más pequeñas */
      word-wrap: break-word; /* Evitar que el texto se salga de la tarjeta */
      text-align: center; /* Centramos el texto del título */
    }
  
    .card-text {
      font-size: 16px; /* Ajustar el tamaño del texto de la descripción */
      text-align: justify; /* Justificar el texto para una mejor lectura */
      padding: 10px; /* Ajustamos el padding para que no se corte */
    }
  
    .card-img-top {
      height: auto; /* Ajustamos la altura de la imagen */
      width: 100%; /* Hacemos que la imagen ocupe todo el ancho de la tarjeta */
      object-fit: contain; /* Evitamos que la imagen se deforme */
    }
  
    /* Ajuste específico para que el botón no se salga de la tarjeta */
    .btn {
      width: 90%; /* Hacemos que el botón ocupe la mayor parte del ancho */
      margin: 0 auto; /* Centramos el botón */
      display: block;
    }
  }