@media (min-width: 768px) {
    .card {
        width: 300px; /* Ajustar a pantallas medianas o grandes */
    }
}

.card-title {
    font-size: 1.5rem; /* Ajustar el tamaño del título */
    text-align: left;  /* Alinear el texto a la izquierda */
    margin-bottom: 10px; /* Agregar margen debajo del título */
}

.card-text {
    font-size: 1rem; /* Ajustar el tamaño del texto */
    text-align: left; /* Alinear texto a la izquierda */
}

.card-img-top {
    height: auto; /* Dejar que la imagen se ajuste automáticamente */
    width: 100%;  /* Ajustar imagen al 100% del ancho de la tarjeta */
    object-fit: cover;
    border-radius: 10px;
}

/* Ajustar las tarjetas para que se adapten mejor en pantallas pequeñas */
@media (max-width: 576px) {
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-title {
        font-size: 1.3rem; /* Tamaño más pequeño para pantallas móviles */
    }

    .card-text {
        font-size: 0.9rem;
    }
}
