/* Estilos globales para la imagen */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Media query para pantallas menores a 990px */
@media (max-width: 990px) {
    .card img {
        height: auto;
        aspect-ratio: 16/9; /* Proporción 16:9 */
        object-fit: cover;
    }
}
