#inicio {
    background-color: #A5D7E8;
 
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 600px;
    height: 400px;
    padding: 20px;
    margin-top: 40px;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    margin: auto; 
    margin-top: 10vh; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    width: 100%;
}

.form-row {
    margin-bottom: 15px;
}

.form-control {
    font-size: 16px;
    padding: 10px;
}

button#btn-regs {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

body{
    background-image: url(../Registrar/assets/output-onlinepngtools.png);
 2b0fabba3e2254b7bba4c42312381b799a0a2af3
}