body {
    background-image: url(./Assets/foco-vector.jpg);
    color: white;
}

#inicio {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: auto;
}

.form-control {
    font-size: 16px;
}

button#btn-regs {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.position-relative svg {
    color: white;
    right: 20px;
    top: 35%;
}
